.dashboard_graph_container{
    display: flex;
 
    margin: 30px 20px;

   

    & .left_panel{
        flex: 1.2;
        text-align: center;
        & h5{
            margin-bottom: 12px;
        }
    }
    & .right_panel{
        flex: 0.8;
    }
    
}
